In [0]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DataType

In [0]:
configs = {
    "fs.azure.account.auth.type": "OAuth",
    "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
    "fs.azure.account.oauth2.client.id": "52a8d3e8-ea15-4de9-8059-5bfb2ebe1f75",
    "fs.azure.account.oauth2.client.secret": "e2i8Q~vrVf_vnCQAfSGtx56e-whhe89TLcNjPdws",
    "fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/5cfaefea-e58a-496e-850b-27bd8c52ce19/oauth2/token"
} 
#not the best practice,value should retrieved from key vault instead

dbutils.fs.mount(
    source = "abfss://tokyoolympicdata@tokyolympicproject.dfs.core.windows.net/",
    mount_point = "/mnt/tokyolympic",
    extra_configs = configs
)
#dbutils.fs.unmount("/mnt/tokyolympic")

True

In [0]:
%fs
ls "/mnt/tokyolympic"

path,name,size,modificationTime
dbfs:/mnt/tokyolympic/raw data/,raw data/,0,1736396617000
dbfs:/mnt/tokyolympic/transformed data/,transformed data/,0,1736396626000

In [0]:
spark  #initialize spark session,databaricks initialize by default

In [0]:
# athletes = spark.read.csv("/mnt/tokyolympic/raw-data/athletes.csv",header=True,inferSchema=True)
athletes = spark.read.format("csv").load("dbfs:/mnt/tokyolympic/raw data/athletes.csv",header=True,inferSchema=True)
coaches = spark.read.format("csv").load("dbfs:/mnt/tokyolympic/raw data/coaches.csv",header=True,inferSchema=True)
medals = spark.read.format("csv").load("dbfs:/mnt/tokyolympic/raw data/Medals.csv",header=True,inferSchema=True)
gender = spark.read.format("csv").load("dbfs:/mnt/tokyolympic/raw data/EntriesGender.csv",header=True,inferSchema=True)
teams = spark.read.format("csv").load("dbfs:/mnt/tokyolympic/raw data/team.csv",header=True,inferSchema=True)

teams.show()
gender.show()

+-------------+--------------+--------------------+------------+
|     TeamName|    Discipline|             Country|       Event|
+-------------+--------------+--------------------+------------+
|      Belgium|3x3 Basketball|             Belgium|         Men|
|        China|3x3 Basketball|People's Republic...|         Men|
|        China|3x3 Basketball|People's Republic...|       Women|
|       France|3x3 Basketball|              France|       Women|
|        Italy|3x3 Basketball|               Italy|       Women|
|        Japan|3x3 Basketball|               Japan|         Men|
|        Japan|3x3 Basketball|               Japan|       Women|
|       Latvia|3x3 Basketball|              Latvia|         Men|
|     Mongolia|3x3 Basketball|            Mongolia|       Women|
|  Netherlands|3x3 Basketball|         Netherlands|         Men|
|       Poland|3x3 Basketball|              Poland|         Men|
|          ROC|3x3 Basketball|                 ROC|         Men|
|          ROC|3x3 Basketball|                 ROC|       Women|
|      Romania|3x3 Basketball|             Romania|       Women|
|       Serbia|3x3 Basketball|              Serbia|         Men|
|United States|3x3 Basketball|United States of ...|       Women|
|    Australia|       Archery|           Australia|  Men's Team|
|    Australia|       Archery|           Australia|  Mixed Team|
|   Bangladesh|       Archery|          Bangladesh|  Mixed Team|
|      Belarus|       Archery|             Belarus|Women's Team|
+-------------+--------------+--------------------+------------+
only showing top 20 rows
+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [0]:
athletes.printSchema()
coaches.printSchema()
medals.printSchema()
gender.printSchema()
teams.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

root
 |-- Rank: integer (nullable = true)
 |-- TeamCountry: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

root
 |-- TeamName: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
athletes.coalesce(1).write.format("csv").option("header", "true").mode("overwrite").save("dbfs:/mnt/tokyolympic/transformed data/athletes.csv")
teams.write.format("csv").option("header", "true").option("inferSchema", "true").mode("overwrite").save("dbfs:/mnt/tokyolympic/transformed data/teams.csv")
medals.write.format("csv").option("header", "true").option("inferSchema", "true").mode("overwrite").save("dbfs:/mnt/tokyolympic/transformed data/medals.csv")
coaches.write.format("csv").option("header", "true").option("inferSchema", "true").mode("overwrite").save("dbfs:/mnt/tokyolympic/transformed data/coaches.csv")
gender.write.format("csv").option("header", "true").option("inferSchema", "true").mode("overwrite").save("dbfs:/mnt/tokyolympic/transformed data/gender.csv")

In [0]:
top_gold_medal_country = medals.orderBy("Gold",ascending=False).limit(10)
top_gold_medal_country.show()
top_gold_medal_country.coalesce(1).write.format("csv").mode("overwrite").save("dbfs:/mnt/tokyolympic/transformed data/top_gold_medal_country.csv")

+----+--------------------+----+------+------+-----+-------------+
|Rank|         TeamCountry|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
+----+--------------------+----+------+------+-----+-------------+

In [0]:
avg_entries_by_gender = gender.groupBy("Discipline").agg({"Female":"avg","Male":"avg"}).orderBy("Discipline",ascending=False)
display(avg_entries_by_gender)
avg_entries_by_gender.coalesce(1).write.format("csv").mode("overwrite").save("dbfs:/mnt/tokyolympic/transformed data/avg_entries_by_gender.csv")

+--------------------+-----------+---------+
|          Discipline|avg(Female)|avg(Male)|
+--------------------+-----------+---------+
|           Wrestling|       96.0|    193.0|
|       Weightlifting|       98.0|     99.0|
|          Water Polo|      122.0|    146.0|
|          Volleyball|      144.0|    144.0|
|           Triathlon|       55.0|     55.0|
|Trampoline Gymnas...|       16.0|     16.0|
|              Tennis|       94.0|     97.0|
|           Taekwondo|       65.0|     65.0|
|        Table Tennis|       86.0|     86.0|
|            Swimming|      361.0|    418.0|
|             Surfing|       20.0|     20.0|
|      Sport Climbing|       20.0|     20.0|
|       Skateboarding|       40.0|     40.0|
|            Shooting|      178.0|    178.0|
|             Sailing|      175.0|    175.0|
|        Rugby Sevens|      146.0|    151.0|
|              Rowing|      257.0|    265.0|
| Rhythmic Gymnastics|       96.0|      0.0|
|   Modern Pentathlon|       36.0|     36.0|
|   Marathon Swimming|       25.0|     25.0|
+--------------------+-----------+---------+
only showing top 20 rows